@page "/"
@using Microsoft.AspNetCore.Components
@using QuestList.Shared.Models
@inject HttpClient HttpClient

<nav>
    <ul>
        <li>
            <NavLink class="" href="" Match="NavLinkMatch.All">Quests</NavLink>
        </li>
    </ul>
</nav>

<ul>
    @foreach (var quest in Quests.Reverse())
    {
        <li>@quest.Name</li>
    }
</ul>

@functions
{
    IList<QuestLine> Quests { get; set; } = new List<QuestLine>();

    protected override async Task OnInitAsync()
    {
        Quests = await HttpClient.GetJsonAsync<IList<QuestLine>>("/quests");
    }
}
