@page "/"
@using QuestList.Client.State
@inject QuestState QuestState

<div class="quests">
    <div class="active-quests">
        <QuestListing Quests="@QuestState.Quests.Where(q => !q.IsCompleted).Reverse()"></QuestListing>
    </div>
    <hr/>
    <div class="completed-quests">
        <QuestListing Quests="@QuestState.Quests.Where(q => q.IsCompleted)"></QuestListing>
    </div>
</div>

<div class="tasks">
    <TaskListing Quest="@QuestState.CurrentQuest"></TaskListing>
</div>