@page "/"
@inject QuestState QuestState
@implements IDisposable

<div class="left-nav">
    <div class="active-quests">
        <QuestListing Quests="@QuestState.Quests.Where(q => !q.IsCompleted).Reverse()" />
    </div>
    <hr />
    <div class="completed-quests">
        <QuestListing Quests="@QuestState.Quests.Where(q => q.IsCompleted)" />
    </div>
</div>

<div class="content">
    <TaskListing Quest="@QuestState.CurrentQuest" />
</div>

@functions {

    protected override void OnInit()
    {
        QuestState.OnStateChanged += OnStateChanged;
    }

    void IDisposable.Dispose()
    {
        QuestState.OnStateChanged -= OnStateChanged;
    }

    void OnStateChanged(object sender, EventArgs e) => StateHasChanged();
}
