body {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;

    li {
        cursor: pointer;
    }
}

.background {
    position: absolute;
    z-index: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: url(../img/mountains.jpg) no-repeat center center fixed;
    background-size: cover;
}

.foreground {
    position: relative;
    z-index: 100;
    margin: 10px;
    padding: 10px;

    nav {
        position: relative;
        height: 38px;
        margin-left: 200px;
        margin-right: 200px;
        padding: 10px;
        background: rgba(0,0,0,.8);
        border-top: 3px solid transparent;
        border-bottom: 3px solid rgba(255,255,255,.7);
        box-shadow: inset 0 3px 0 rgba(255,255,255,.7), 0 3px 0 rgba(0,0,0,.7);

        &:before {
            content: "";
            position: absolute;
            top: -3px;
            left: -50px;
            width: 50px;
            height: 67px;
            background: url(../img/SkyrimMenuEnds.png);
        }

        &:after {
            content: "";
            position: absolute;
            top: -3px;
            right: -50px;
            width: 50px;
            height: 67px;
            background: url(../img/SkyrimMenuEnds.png);
            transform: rotateY(180deg);
        }

        ul {
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: inline-block;
            }
        }

        a, a:visited {
            font-size: 36px;
            color: rgba(255,255,255,0.7);
            text-decoration: none;

            &.active, &:hover {
                color: white;
                text-decoration: none;
            }
        }
    }

    main {
        display: grid;
        grid-template-columns: 25% 75%;
        height: calc(100vh - 120px);
        overflow: auto;
        margin-top: 10px;
        background: rgba(0,0,0,.8);
        border: 3px solid transparent;
        box-shadow: 3px 3px 0 0 rgba(255,255,255,.7) inset, -3px -3px 0 0 rgba(255,255,255, .7) inset;
        color: white;
        font-size: 36px;

        .quests {
            display: flex;
            justify-content: flex-end;
            border-right: 3px solid gray;
            padding: 10px;
            margin: 3px;

            ul {
                width: 100%;

                li {
                    text-align: end;
                }
            }

            a {
                position: relative;
                color: gray;

                padding-right: 20px;

                &:hover, &.active {
                    color: white;
                }

                &.working {
                    &:hover, &.active {
                        &:after {
                            filter: alpha(1);
                        }
                    }

                    &:after {
                        position: absolute;
                        content: "";
                        width: 23px;
                        height: 23.5px;
                        top: 25%;
                        background-image: url("../img/task-pointer.png");
                        background-size: cover;
                        filter: alpha(.5);
                    }
                }
            }
        }

        .tasks {
            display: flex;
            justify-content: flex-start;
            border-left: 3px solid gray;
            padding: 10px;
            margin: 3px;

            ul li {
                position: relative;
                
                &:before {
                    position: absolute;
                    content: "";
                    width: 16px;
                    height: 25px;
                    top: 24%;
                    left: -25px;
                    background-image: url("../img/task-bullet.png");
                    background-size: cover;
                }
            }
        }
    }
}
